---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Margem apenas em páginas de post/single
body.layout--single .page__content,
body.layout--single .page__inner-wrap,
body.layout--single .entry-content {
  max-width: 820px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
}
